---
layout: compress
---
{% include base_path %}
<!doctype html>
<html lang="en" class="light">
  <head>
    {% include research-head.html %}
  </head>
  <body class="research-site{% if page.permalink == '/' %} research-home{% endif %}">
    <a class="skip-link" href="#main">Skip to content</a>
    {% include research-header.html %}
    {{ content }}
    {% include research-footer.html %}
    <script src="{{ '/assets/js/research.js' | relative_url }}" defer></script>
    {% if page.permalink == '/' %}
      <script src="{{ '/assets/js/robot-playground.js' | relative_url }}" defer></script>
    {% endif %}
    {% include analytics.html %}
  </body>
</html>
